body, div, form, h1, h2, h3, h4, h5, h6, #links ul li, #links ul, #topnav, img
{
	padding: 0;
	margin: 0;
}

body
{
	color: #000;
	font-family: Times, serif;
	position: relative;
}

sup
{
	margin: 0 0 -.3em 0;
	padding: 0;
}

a { color: #600; }
a:visited { color: #000; }
a:hover { text-decoration: none; }
img { border: none; }
#jump { display: none; }

#frame
{
	margin: 0 .8em;
	position: relative;
}

/* Header */
#logo h1 a
{
	width: 115px;
	height: 80px;
	background: url(images/logo.gif) no-repeat;
	text-indent: -700em;
	display: block;
	text-decoration: none;
	float: left;
	position: relative;
}

#topnav
{
	z-index: 0;
	position: relative;
	height: auto;
	margin: 0 0 .1em 0;
}

#topnav h4 a
{
	text-align: center;
	padding: 0 .6em;
	text-decoration: none;
}

#topnav h4
{
	text-align: center;
	margin: 0 auto;
	white-space: nowrap;
}

#slogan h2
{
	padding: .3em;
	margin: 0 0 .3em 0;
	clear: both;
}

/* links */
#links
{
	float: left;
	width: 6.6em;
	z-index: 0;
	position: relative;
	padding: 0;
}

#links div.block
{

	padding: 0;
	margin: 0 0 1em 0;
	position: relative;
}

#links div.title
{
	background: #999;
	padding: 0;
	margin: 0;
	position: relative;
}

#links h4
{
	margin: 0;
	padding: .3em .6em;
	color: #fff;
	position: relative;
}

#links h4 a { color: #fff; }

#links div.content
{
	padding: .3em .3em .6em .3em;
	position: relative;
}

#links em
{
	font-weight: bold;
	margin: .3em 0 .3em .8em;
	font-style: normal;
}

#links h2
{
	background: #ddd;
	position: relative;
	margin: 0;
	padding: .2em 0 0 .3em;
}

#links h2 a, #links h2 { color: #444; }
#links ul li { list-style: none; }
#links ul { margin: 0; }

#navigation-content li.user
{
	background: #ddd;
	position: relative;
	margin: 1em 0 0 0;
	padding: .2em 0 0 0;
	color: #444;
}

#navigation-content ul ul
{
	margin: 0;
	padding: .3em 0 .3em .6em;
	background: #fff;
}

/* slashboxes */
#slashboxes
{
	float: right;
	width: 15em;
	z-index: 0;
	position: relative;
	margin: 0 0 .3em 0;
	padding: 0;
}

#slashboxes div.block
{
	margin: 0 0 1em 0;
	position: relative;
}

#slashboxes div.title
{
	background: #999;
	padding: 0;
	margin: 0;
	position: relative;
}

#slashboxes h4
{
	margin: 0;
	padding: .3em .6em;
	color: #fff;
	position: relative;
	z-index: 4;
}

#slashboxes h4 a { color: #fff; }

#slashboxes div.content
{
	margin: 0;
	padding: .3em .6em .6em .6em;
	position: relative;
}

#slashboxes h4 img.map
{
	position: absolute;
	right: .3em;
}

#slashboxes ul
{
	padding: 0 .3em;
	margin: 0 1em;
	position: relative;
}
#slashboxes label.checkbox {
        display: block;
}
/* login content */
#slashboxes #userlogin-content legend,
#slashboxes #login-content legend,
#login legend
{
	display: none;
}
#slashboxes #userlogin-content fieldset,
#slashboxes #login-content fieldset,
#login fieldset
{
	margin: 0;
	padding: 0;
	border: none;
}

/* olderstuff content */
#slashboxes #olderstuff-content ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#slashboxes #olderstuff-content ul li a
{
	font-size: 150%;
	font-weight: bold;
}

#slashboxes #olderstuff-content ul li ul li a, #slashboxes #olderstuff-content p
{
	font-size: 100%;
	font-weight: normal;
}

#slashboxes #olderstuff-content ul li ul
{
	list-style: disc;
	padding: 0 0 0 1.3em;
	margin: 0;
}

/* General */
.generaltitle
{
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
}

.generaltitle div.title
{
	background: #999;
	padding: 0;
	margin: 0;
	position: relative;
}

.generaltitle h3
{
	margin: 0;
	padding: .3em .8em .2em .8em;
	color: #fff;
	position: relative;
}

.generaltitle h3 a
{
	color: #fff;
	position: relative;
}
.generaltitle h3 a:visited
{
        color: #fff;
}
.generalbody
{
        padding: 1em;
        margin: 0 0 1em 0;
        height: 100%;
	width: auto;
        z-index: 2;
        position: relative;
}
/* layout */
#contents
{
	width: auto;
	z-index: 1;
	position: relative;
	padding: 0;
	margin: 0 0 0 7.2em;
}

#messages, #submit, #comments, #login, #404, #pollBooth, #wide, #search, #authors, #topics
{
	overflow: visible;
	height: 100%;
	z-index: 2;
	position: relative;
	margin: 0 0 1em 0;
	padding: 0;
}

#articles, #users-blocks, #polls
{
	overflow: visible;
	height: 100%;
	z-index: 2;
	position: relative;
	margin: 0 15.6em 1em 0;
	padding: 0;
}


/* articles */
.article
{
	padding: 0;
	margin: 0;
	position: relative;
	height: 100%;
}

.article div.title, .journalgeneric div.title
{
	background: #999;
	padding: 0;
	margin: 0;
	position: relative;
}

.article h3, .journalgeneric h3
{
	margin: 0;
	padding: .3em .8em .2em .8em;
	color: #fff;
	position: relative;
}

.article h3 a, .journalgeneric h3 a { color: #fff; }

.article .details, .journalgeneric .details
{
	padding: .4em 1em;
	margin: 0;
	position: relative;
}
.body
{
	padding: .8em 1em 1em 1em;
	margin: 0;
	position: relative;
	height: 100%;
	min-height: 50px;
}

.article .details strong, .journalgeneric .details strong
{
	font-weight: bold;
	position: relative;
height: 100%;
}

.topic
{
	margin: 0 .4em .4em 0;
	float: right;
	position: relative;
}

.topic img
{
	display: block;
	position: relative;
	z-index: 10;
}

.intro p
{
	margin: 0 0 1em 0;
	position: relative;
}

div.storylinks
{
	height: 100%;
	margin: 0 0 1em 0;
	padding: 0;
	position: relative;
}

div.storylinks div
{
	margin: 0;
	padding: 0;
	position: relative;
}

div.storylinks ul
{
	padding: .4em .4em .6em .4em;
	margin: 0;
	position: relative;
}

div.storylinks ul li
{
	border-left: 1px solid #555;
	padding: 0 .2em 0 .4em;
	list-style: none;
	display: inline;
	position: relative;
}

div.storylinks ul li.more,
div.storylinks ul li.discussion
{
	border: none;
	font-weight: bold;
	position: relative;
}

div.storylinks ul li.comments a
{
	font-weight: bold;
	position: relative;
}

div.storylinks ul li.section { position: relative; }
div.storylinks ul li.edit { position: relative; }

/* Footer */
#footer
{
	clear: both;
	z-index: 0;
	position: relative;
	font-weight: normal;
}

#footer em
{
	float: right;
	width: 45%;
	text-align: center;
	padding: 1.6em 0;
	vertical-align: middle;
	font-style: italic;
	position: relative;
}

#footer .search
{
	width: 50%;
	text-align: center;
	padding: .6em 0 0 0;
	vertical-align: middle;
	position: relative;
}

#footer .copyright
{
	clear: both;
	text-align: center;
	position: relative;
}

/* Bottom Nav */
.btmnav
{
        font-size: 70%;
        font-family: arial, sans-serif;
        color: #999;
        text-align: center;
        padding: 0 0 2em 0;
        position: relative;
        clear: both;
}
.btmnav ul {
        margin: 0;
        padding: 0;
}
.btmnav ul li
{
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;
        border: none;
}


.btmnav ul li a
{
        color: #999;
        padding: 0 .2em 0 .5em;
        border-left: 1px solid #555;
}

.btmnav ul li.begin a { border: none;}
.btmnav ul a:visited { color: #000; }


/* Usermenu */
#usermenu {
	background: #fff;
	margin: 0;
	padding: .3em;
	border: 1px solid #aaa;
	border-bottom: none;
	height: 100%;
} 

ul.menu {
        margin: 0;
        padding: 0;
	font-size: 85.5%;
	margin: .3em 0 0 .3em;
}

ul.menu li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;
}
ul.menu li a {
        border-left: 1px solid #ccc;
        padding: 0 .3em;
}
ul.menu li a.begin {
	border: none;
	padding: 0 .3em;
}
ul.menu li a:visited {
	color: #600;
}
ul.menu li.selected a {
        font-weight: bold;
        text-decoration: none;
        color: #000;
        padding: 0 .3em;
}
.generalbody ul.menu, .submenu {
	margin: -1em 0 1em 0;
	padding: 0;
	font-size: 70%;
	font-family: arial, sans-serif;
}
.generalbody ul.menu li, .submenu li{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}
.generalbody ul.menu li a, .submemu li a {
	border-left: 1px solid #ccc;
	border-bottom: none;
	padding: 0 .3em 0 .3em;
}
.generalbody ul.menu li a.begin, .submenu li a.begin  {
	border: none;
	padding: 0 .3em 0 .3em;
}
.generalbody ul.menu li.selected a, .submenu li.selected a {
        font-weight: bold;
	border: none;
        text-decoration: none;
        color: #000;
}

/* Messaging */
.message {
	padding: 1em;
	}
.error {
	padding: 1em;
	color: #600;
	font-weight: bold;
}

/* Journal */
.journaldate { font-family: arial, sans-serif; font-size: 70%; color: #aaa; margin: 1em 0; border-bottom: 1px solid #aaa;}
.journalarticle {margin: 0 0 2em 0;}
.journaltitle { font-family: arial, sans-serif; }
.journaldetails { font-family: arial, sans-serif; font-size: 70%; color: #888; margin: .5em 0 0 0;} 

.notes, .note
{
        font-family: arial, sans-serif;
        font-size: 75.5%;
        display: block;
        padding: .3em;
}

/* Data tables */
.data_head
{
	color: #fff;
	background: #600;
	font-size: 75.5%;
	font-family: arial, sans-serif;
}

.data_head th { text-align: left;}
.data_hl1 { background: #ccc;         font-size: 75.5%;
        font-family: arial, sans-serif;}
.data_hl1 td {border-top: 1px solid #fff;}
.data_hl2 { background: #ddd;         font-size: 75.5%;
        font-family: arial, sans-serif;}
.data_hl2 td {border-top: 1px solid #fff;}
.data_hl3 { background: #eee;         font-size: 75.5%;
        font-family: arial, sans-serif;}
.data_hl3 td {border-top: 1px solid #fff;}



